<div class="container my-3">
  <div class="text-center mb-3">
    <div class="img.1">
    <%= image_tag "deportes-canarias.jpg", class: "img1" %>
  </div>
      <div class="row col-12 justify-content-center">
        <div class="text-center borde border border-ligth w-75  shadow-sm p-3 mb-5 bg-white rounded">
            <h1><strong>Choose your sport</strong></h1>
              <h2 class="my-3">Bienvenido!!!</h2>
                <p class="mt-5">Seleccione la opción que desea realizar </p>
                  <div class="mb-4 ">
                    <% if user_signed_in? %>
                    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
                    <%= link_to "Ir a mi perfil", user_path(current_user), class: "btn btn-primary" %>

                    <% else %>
                    <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary" %>
                    <%= link_to "Registrarse", new_user_registration_path, class: "btn btn-warning" %>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>